.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}

.card-container {
  text-decoration: none;
  color: black;
}

.date-text {
  height: 20px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 20px;
}

@media only screen and (max-width: 600px) {
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
  }

  .card-container {
    margin-top: 5%;
    text-decoration: none;
  }

  .ind-card {
    margin-top: 5%;
  }
}
